      </div><!-- container -->
    </div><!-- main -->
    
    <footer id="footer">
      <div id="toggle">
        <div class="container">
        <div id="plus-glyph">+</div>
        </div>
      </div>
      <div id="footer_nav">
        <div class="row">
          <div class="container">
            <div class="column span3">
              <h3>life</h3>
              <ul>
                <li><a href="#" title="">Easy &amp; Affordable</a></li>
                <li><a href="#" title="">Life Is Good</a></li>
                <li><a href="#" title="">Creative Culture</a></li>
              </ul>
            </div><!-- column -->
            <div class="column span3">
              <h3>Work</h3>
              <ul>
                <li><a href="#" title="">Creative Culture</a></li>
                <li><a href="#" title="">Thriving Economy</a></li>
                <li><a href="#" title="">Convenient Downtown</a></li>
              </ul>
            </div><!-- column -->
            <div class="column span3">
              <h3>Visit</h3>
              <ul>
                <li><a href="#" title="">Link Option One</a></li>
                <li><a href="#" title="">Another Link</a></li>
              </ul>
            </div><!-- column -->
            <div class="offset10" id="cowork_credit">
              <p>This site was lovingly handcrafted by the people at <a href="http://coworkgreenville.com" title="Learn more about CoWork Greenville">CoWork Greenville</a>.</p> 
          </div><!-- container -->
        </div><!-- .row -->
        <div class="row cf" id="site_credits">
          <div class="container">
            <p class="first span">Site Design &amp; Build: <a href="http://coworkgreenville.com" title="Learn more about CoWork!">CoWork Greenville</a>.</p>
            <p class="second">Site Photography: <a href="http://www.getzcreative.com">Getz Creative</a>.</p>
          </div><!-- container -->
        </div><!-- .row#site_credits -->
      </div><!-- #footer_nav -->
    </footer>
  </div> <!-- #wrapper -->
  </body>
</html>
