<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/app.js" type="text/javascript" charset="utf-8"></script>

    <!-- Styles -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/stylesheets/tertiary.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">


  </head>

  <body>

  <nav>
    <div class="container">
      <a href="/"><h1>Life in Greenville South Carolina</h1></a>
      <ul>
        <li><a href="#">Life</a></li>
        <li><a href="#">Work</a></li>
      </ul>
    </div>
  </nav>

  <header>
    
    <div class="container">
      
      <div class="headline">
        <h1>Life</h1>
        <span class="forward">/</span>
        <h2>Culture</h2>
        <h3>Culture in Greenville Headline Here</h3>
      </div>

      <span class="credit">Photo by <a href="#">Getz Creative</a></span>
    </div>

  </header>

  <div class="container">
