@import "compass/css3/transition";
@import "compass/css3/transform";

#footer {
  background: transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  position:fixed;
  bottom:0;
  left:0;
  z-index:2000;
  width:100%;


  
  h3 {
    color: #99c745;
    font-size: 215%;
    margin-bottom: 15px;
    text-transform: uppercase; }
  
  ul {
    list-style: none;
    margin: 0; }
    
  li {
    margin-bottom: 16px; }
  
  #toggle {
    width: 100%;
    color: #97c93c;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    .container {
      position: relative;
    }
    
    .container:before {
      content: '';
      position: absolute;
      top: -14px;
      left: 5px;
      height: 17px;
      width: 24px;
      background: url('/images/footer-arrow.png') no-repeat top left;
    }
    
    
    #plus-glyph { 
      position: relative;
      left: -6px;
      width: 59px;
      height: 59px;
      font-family: 'kulturista-web', serif;
      font-size: 36px;
      font-weight: 700;
      line-height: 59px;
      text-align: center;
      margin-left: -5px;
      @include transition(rotation);
      @include transition-duration(0.3s);
    }
    
    &.down #plus-glyph {
    	@include rotate(45deg);
      @include transition-duration(0.3s);
    }
  }

  #footer_nav {
  	background:#fff;
    .row {
      border-top: 6px double #e5e5e5;
      border-bottom: 6px double #e5e5e5;
      padding: 15px 0;
      
      .span3 {
        width: 150px;
        padding-right: 10px;
      }
      
    }
    #cowork_credit {
      border-left: 6px double #e5e5e5;
      color: #696969;
/*      height: 175px;*/
      padding-left: 30px;
      
      p {
        margin-bottom: 30px;
      }
    }
    
    #site_credits {
      border: 0;
      padding: 15px 0;

      p {
        color: #696969;
        float: left;
        padding-right: 20px;
        
        &.first {
          border-right: 1px solid #e5e5e5;
          margin-right: 20px; }
      }
    }
  }
  
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
