/*
Banner Image Sizes:
- Large: 1800x672
- Med: 1200x600
- Small: 600x480
*/
@import "compass/css3/border-radius";


@mixin banner($page, $img) {
	body.#{$page} header {
		background-image: url(/images/banners/#{$img});	
	}
}

@media only screen and (max-width: 500px) {
	header { height: 400px; }
	
	@include banner('work', 'work-sean-sm.jpg');
	@include banner('work.page-convenient', 'work-cowork-sm.jpg');
	@include banner('work.page-inventive', 'work-fridge-sm.jpg');
	@include banner('work.page-prosperous', 'work-fireworks-sm.jpg');


	@include banner('life', 'life-drive-sm.jpg');
	@include banner('life.page-satisfying', 'life-cycling-md.jpg');
	@include banner('life.page-uncomplicated', 'life-apples-sm.jpg');
	@include banner('life.page-cultured', 'life-festival-sm.jpg');

}
@media only screen and (max-width: 1023px) and (min-width: 501px) {
	header { height: 500px; }

	@include banner('work', 'work-sean-md.jpg');
	@include banner('work.page-convenient', 'work-cowork-md.jpg');
	@include banner('work.page-inventive', 'work-fridge-md.jpg');
	@include banner('work.page-prosperous', 'work-fireworks-md.jpg');

	@include banner('life', 'life-drive-md.jpg');
	@include banner('life.page-satisfying', 'life-cycling-md.jpg');
	@include banner('life.page-uncomplicated', 'life-apples-md.jpg');
	@include banner('life.page-cultured', 'life-festival-md.jpg');


}
@media only screen and (min-width: 1024px) {
	header { height: 560px; }

	//@include banner('home', 'home-kissing-lg.jpg');

	@include banner('work', 'work-sean-lg.jpg');
	@include banner('work.page-convenient', 'work-cowork-lg.jpg');
	@include banner('work.page-inventive', 'work-fridge-lg.jpg');
	@include banner('work.page-prosperous', 'work-fireworks-lg.jpg');
	

	@include banner('life', 'life-drive-lg.jpg');
	@include banner('life.page-satisfying', 'life-cycling-lg.jpg');
	@include banner('life.page-uncomplicated', 'life-apples-lg.jpg');
	@include banner('life.page-cultured', 'life-festival-lg.jpg');
	
}



// /* iPhone/Mobile Banner Size */
// @media only screen and (max-width: 500px) {
	
// 	header {
// 		height: 400px;
// 	}

// 	header {
// 		background-image: url(/images/banners/work-drive-sm.jpg);
// 	}

// }

// /* iPad/Small screens */
// @media only screen and (max-width: 1023px) and (min-width: 501px) {

// 	header {
// 		height: 500px;
// 	}

// 	header {
// 		background-image: url(/images/banners/work-drive-md.jpg);
// 	}
	

// }

// /* Most desktops/bigger screens */
// @media only screen and (min-width: 1024px) {

// 	header {
// 		height: 560px;
// 	}

// 	header {
// 		background-image: url(/images/banners/work-drive-lg.jpg);
// 	}



// }