@import "compass/css3/transition";

#categories{
	background: url(/images/categories/cat-dividers.png) repeat-y top center;
	margin: 40px 0;
	
	.content{
		text-align: center;
		a.catlink {
			display: inline-block;
			width: 250px;
			height: 214px;
			border: 8px solid rgba(0,0,0,.1);
			border-radius: 8px;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
      @include transition(opacity);
			@include transition-duration(0.3s);
		}		
		a.catlink:hover {
			border: 8px solid rgba(0,0,0,.15);
		}	
	}
	
	.span6 .content{
		padding: 0 45px;
	}
	
	h2{
		font-size: 27px;
	}
	
	h2 a{
		color: #3f6230;
		font-family: "kulturista-web", serif;
		font-weight: 600;
		font-style: normal;
	}
	
	p{
		font-size: 13px;
		color: #696969;
		padding-top: 16px;
		padding-bottom: 16px;
		min-height: 40px;
	}
	
}