#categories{
	background: url(/images/categories/cat-dividers.png) repeat-y 323px 0;
	margin: 40px 0 40px -20px;
	
	.content{
		text-align: center;
	}
	
	.span6 .content{
		padding: 0 45px;
	}
	
	h2{
		font-size: 27px;
	}
	
	h2 a{
		color: #3f6230;
		text-decoration: underline;
		font-family: "kulturista-web", serif;
		font-weight: 700;
		font-style: normal;
	}
	
	p{
		font-size: 13px;
		color: #696969;
	}
	
}