#categories{
	background: url(/images/categories/cat-dividers.png) repeat-y 323px 0;
	margin: 95px 0 40px -20px;
}
#categories .content{
	text-align: center;
}
#categories .span6 .content{
	padding: 0 45px;
}

#categories h2{
	font-size: 27px;
}

#categories h2 a{
	color: #3f6230;
	text-decoration: underline;
}

#categories p{
	font-size: 14px;
	color: #696969;
}

#categories h2 a{
	font-family: "kulturista-web", serif;
	font-weight: 700;
	font-style: normal;
}