body.credits {
  
  a {
    border-bottom: none;
    text-decoration: underline; }

  ul {
    list-style: none;
    margin: 0; }
    
  header {
    background: none;
    height: 310px;
    
    .container {
      min-height: 300px; }
    
    h2 {
      color: #d5cc25;
      text-transform: capitalize;
      display: block;
      font-size: 6em;
      margin-left: 0;
      padding-bottom: 20px;
      border-bottom: 7px double #dedede;
    }
    
    div.headline {
      top: 160px;
      width: 100%;
    }
  }
  
  .organization {
    width: 100%;
    
    img {
      border: 8px solid #e5e5e5;
      margin-right: 40px;
      float: left; }
    
    .info {
      width: 95%;
      
      h3.title {
        font-size: 2em;
        line-height: 1em;
        margin-bottom: 4px;
        position: relative;
        top: -3px; }
      
      ul {
        margin-bottom: 1.5em;
        
        li {
          border-right: 1px solid #bbb;
          display: inline; }
      }
      
      a {
        margin: 0 10px; }
      
      li.first a {
        margin-left: 0; }
      
      li.last {
        border: none; }
      
      p {
        color: #444444;
        font-family: "kulturista-web";
        font-size: 135%;
        line-height: 1.6em; }
    }
    
  }
  
  #people {
    clear: both;
    margin-top: 50px;
    
    img {
      border: none; }
  }
  
  .main {
    background: transparent; }
    
  
}