img { max-width: 100%; }


nav {
	background: url(/images/nav-bg.png) no-repeat center top;
	height: 200px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 100;

	h1 {
		display: block;
		width: 211px;
		height: 97px;
		overflow: hidden;
		text-indent: -999999px;
		background: url(/images/logo.png) no-repeat;
		margin-left: 10px;
		margin-top: 20px;
	}	

	ul {
		list-style: none;
		padding: 0px;
		margin: 0px;
		position: absolute;
		right: 20px;
		top: 20px;
		
		li {
			display: inline-block;
			a {
				color: #99c64d;
				font-size: 1.4em;
				margin-left: 10px;
				line-height: 30px;				
			}		
		}
	}	
}

header {
	position: relative;
	background-image: url(/images/banners/visit.large.jpg);
	background-position: 50% 50%;
	background-size: cover;
	width: 100%;
	height: 50%;
	top: 58px;
	color: #fff;
	min-height: 400px;		

	.container {
		min-height: 400px;		
	}
}



header .container,
nav .container {
	position: relative;
	width: 100%;
	max-width: 960px;
	height: 100%;
}

div.headline {
	position: absolute;
	bottom: 20px;
	left: 10px;

	h1, h2 {
		display: inline-block;
		color: #fff;
		text-transform: uppercase;
		line-height: 1em;
		margin-bottom: 0px;		
	}

	h1 {
		font-size: 10em;
	}

	h2 {
		font-size: 5em;
	}

	h3 {
		color: #97c93c;
		text-transform: uppercase;
		font-size: 2em;
		font-weight: normal;
		font-style: italic;
	}
	
	span.forward {
		font-size: 5em;
		margin: 0px 20px;
	}	
}


span.credit {
	color: #fff;
	position: absolute;
	right: 20px;
	bottom: 10px;

	a {
		color: #fff;
		text-decoration: underline;
	}
}


