@import "compass/css3/transition";
@import "compass/css3/border-radius";

img { max-width: 100%; }


nav {
	background: url(/images/nav-bg.png) no-repeat center top;
	height: 200px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 100;

	h1 {
		display: block;
		width: 211px;
		height: 97px;
		overflow: hidden;
		text-indent: -999999px;
		background: url(/images/logo.png) no-repeat;
		margin-left: 10px;
		margin-top: 20px;
	}	

	ul {
		list-style: none;
		padding: 0px;
		margin: 0px;
		position: absolute;
		right: 20px;
		top: 30px;
		
		li {
			display: inline-block;
			a {
				font-style: normal;
				font-weight: 600;
				color: #99c64d;
				font-size: 1.4em;
				margin-left: 15px;
				line-height: 30px;				
			}		
		}
	}	
}

body.life a.life,
body.work a.work {
	color: #3f6230;
	text-decoration: underline;
}

a#visit {
	width: 85px;
	z-index: 10000;
	display: block;
	position: absolute;
	right: 0px;
	top: 140px;
	height: 70px;
	color: #fff;
	font-size: 1.5em;
	text-transform: uppercase;
	font-style: normal;
	line-height: 70px;
	text-indent: -180px;
	
	background: #98c83b url(/images/visit-arrow-right.png) no-repeat 235px center;

	overflow: hidden;

	@include border-top-left-radius(50px);
	@include border-bottom-left-radius(50px);

	@include transition(all);
	@include transition-duration(0.3s);

	img {
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 1;
	}


}

a#visit:hover,
a#visit:active {
	right: 0px;
	width: 180px;
	padding-left: 82px;
	padding-right: 10px;
	text-indent: 0px;
}


header {
	font-family: "kulturista-web", serif;
	background-position: 50% 50%;
	background-color: #000;
	width: 100%;
	
	margin-top: 58px;
	color: #fff;
	
	@include transition(height);
	@include transition-duration(0.3s);

	.container {
		min-height: 400px;		
	}
}



header .container,
nav .container {
	position: relative;
	width: 100%;
	max-width: 960px;
	height: 100%;
}

div.headline {
	position: absolute;
	bottom: 20px;
	left: 10px;
  width: 100%;

	h1, h2 {
		color: #fff;
		text-transform: uppercase;
		line-height: 1em;
		margin-bottom: 0px;
    margin-left: 10px;
    -webkit-transition: font-size .3s ease-in-out;
    -moz-transition: font-size .3s ease-in-out;
    -o-transition: font-size .3s ease-in-out;
    -ms-transition: font-size .3s ease-in-out;				
	}

	h1 {
		display: inline-block;
	}

	h2 {
		font-style: normal;
		font-weight: 600;
	}

	h3 {
		color: #97c93c;
		text-transform: uppercase;
		font-weight: 400;
		font-style: italic;
		background-color: rgba(0,0,0,0.5);
		padding: 3px 10px;
    margin-left: 5px;
		max-width: 75%;
	}
	
	span.forward {
		font-size: 5em;
    margin: 0 0 0 10px;
		font-weight: 300;
		position: relative;
	}	
}


div.caption {
	font-size: .8em;
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 25%;
	text-align: right;
	color: #fff;

	h3 {
		color: #fff;
		font-size: 1.2em;
		margin-bottom: 3px;
		line-height: 1em;
	}
  
  p {
    margin-bottom: 2px;
  }
}

span.credit {
	font-size: .9em;
	color: #fff;
	position: absolute;
	right: 20px;
	bottom: 20px;

	a {
		color: #fff;
		text-decoration: underline;
	}
}

.home {
	.main {
		width: 100%;
		top: 180px;
		position: absolute;
		z-index: 100;
	}
	h1 {
		text-transform: uppercase;
		font-weight: 600px;
		padding-left: 20px;
		color: #FFF;
		font-size: 60px;
		line-height: 90px;
		background-color: rgba(0,0,0,0.5);
	}
	h2 {
		color: #FFF;
		text-transform: uppercase;
		font-weight: 400;
		font-style: italic;
		background-color: rgba(0,0,0,0.5);
		padding: 3px 10px;
    margin-left: 5px;
		max-width: 75%;
		a {
			text-transform: uppercase;
			color: #97c93c;
			font-weight: bolder;
			font-style: normal;
		}
	}
}

