/* Media Queries */

/* Non-mobile sizes for banner headlines */
@media only screen and (min-width: 500px) {

    div.headline {
        h1 {
            font-size: 10em;
        }

        h2 {
            font-size: 4.5em;
        }

        h3 {
            font-size: 2em;
        }        
    }
}

/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */


@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container                                  { width: 778px; }
    .container .column,
    .container .columns                         { margin-left: 10px; margin-right: 10px;  }
    .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
    .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }

    .container .span1			                      { width: 28px; }
    .container .span2			                      { width: 76px; }
    .container .span3				                    { width: 124px; }
    .container .span4			                      { width: 172px; }
    .container .span5			                      { width: 220px; }
    .container .span6			                      { width: 268px; }
    .container .span7				                    { width: 316px; }
    .container .span8				                    { width: 364px; }
    .container .span9			                      { width: 412px; }
    .container .span10		                      { width: 460px; }
    .container .span11			                    { width: 508px; }
    .container .span12			                    { width: 556px; }
    .container .span13				                  { width: 604px; }
    .container .span14					                { width: 652px; }
    .container .span15				                  { width: 700px; }
    .container .span16				                  { width: 748px; }

    .container .span-one-third                	{ width: 236px; }
    .container .span-two-thirds               	{ width: 492px; }

    /* Offsets */
    .container .offset1			                    { padding-left: 48px; }
    .container .offset2                   			{ padding-left: 96px; }
    .container .offset3                 				{ padding-left: 144px; }
    .container .offset4                  				{ padding-left: 192px; }
    .container .offset5                  				{ padding-left: 240px; }
    .container .offset6                   			{ padding-left: 288px; }
    .container .offset7                 				{ padding-left: 336px; }
    .container .offset8                 				{ padding-left: 348px; }
    .container .offset9                  				{ padding-left: 432px; }
    .container .offset10                   			{ padding-left: 480px; }
    .container .offset11                				{ padding-left: 528px; }
    .container .offset12                				{ padding-left: 576px; }
    .container .offset13              					{ padding-left: 624px; }
    .container .offset14              					{ padding-left: 672px; }
    .container .offset15               					{ padding-left: 720px; }
    
		.life .container .offset1 {
			padding-left: 0;
		}
    
}


@media only screen and (max-width: 850px) {
	header div.caption {
		display: none;
	}
}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 500px) {

  .container { width: 300px; }
  .columns, .column { margin: 0; }
 

    .container .span1,
    .container .span2,
    .container .span3,
    .container .span4,
    .container .span5,
    .container .span6,
    .container .span7,
    .container .span8,
    .container .span9,
    .container .span10,
    .container .span11,
    .container .span12,
    .container .span13,
    .container .span14,
    .container .span15,
    .container .span16,
    .container .span-one-third,
    .container .span-two-thirds               { width: 300px; }

    /* Offsets */
    .container .offset1,
    .container .offset2,
    .container .offset3,
    .container .offset4,
    .container .offset5,
    .container .offset6,
    .container .offset7,
    .container .offset8,
    .container .offset9,
    .container .offset10,
    .container .offset11,
    .container .offset12,
    .container .offset13,
    .container .offset14,
    .container .offset15               				{ padding-left: 0; margin-left: 0; }

		body.life .container article {
			background: none;
		}

		article {
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}

		article h1 {
			background: none;
		}
	
		article img {
	    border: 8px solid rgba(0, 0, 0, 0.1);
	    float: left;
	    width: 280px;
	    height: 109px;
	    margin: 0 0 15px 0;
		}
	
		.container aside {
			display: none;
		}
	
		nav {
	
			h1 {
				margin-left: 30px;
				width: 146px;
				height: 64px;
				background-size: cover;
			}
	
			ul {
				top: 40px;
				right: 20px;			
			}
		}
		header  {
			
			div.headline {	
				text-align: center;
				h1 {
					font-size: 5em;
				}
				span.forward {
					font-size: 4em;
					top: -5px;
					margin-left: 5px;
				}
				h2 {
					font-size: 2em;
				}
				h3 {
					font-size: 1.5em;
					line-height: 1.5em;
					max-width: 100%;
				}
			}
		}	

		#categories { background: none; }

}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container { width: 420px; }
    .columns, .column { margin: 0; }

    .container .span1,
    .container .span2,
    .container .span3,
    .container .span4,
    .container .span5,
    .container .span6,
    .container .span7,
    .container .span8,
    .container .span9,
    .container .span10,
    .container .span11,
    .container .span12,
    .container .span13,
    .container .span14,
    .container .span15,
    .container .span16,
    .container .span-one-third,
    .container .span-two-thirds               { width: 420px; }

    /* Offsets */
    .container .offset1,
    .container .offset2,
    .container .offset3,
    .container .offset4,
    .container .offset5,
    .container .offset6,
    .container .offset7,
    .container .offset8,
    .container .offset9,
    .container .offset10,
    .container .offset11,
    .container .offset12,
    .container .offset13,
    .container .offset14,
    .container .offset15               				{ padding-left: 0; margin-left: 0; }

		body.life .container article {
			background: none;
			padding-right: 0;
		}

		article h1 {
			background: none;
		}

		article img {
	    border: 8px solid rgba(0, 0, 0, 0.1);
	    float: left;
			display: block;
			clear: both;
	    width: 400px;
	    height: 171px;
	    margin: 15px 0;
		}
    
    aside {
    	padding: 0;
    	margin: 0;
    }

		#categories { background: none; }

}