@import "compass_twitter_bootstrap"; /* Use this to get all of Bootstrap's @mixins and $variables */

$darkgreen: #3f6230;
$lightgreen: #99c745;

html {
  -webkit-font-smoothing: antialiased;
}

html, body { min-height: 100%; }

body {
  background: url('/images/bg-texture.png') repeat top center;
}

p {
	line-height: 20px;
}

#wrapper {
	overflow: hidden;
}

h1,h2,h3,h4,h5,h6, a {
	font-family: "kulturista-web", serif;
}

.main {
	background-color: #f0f0f0;
}

body.home .main {
	background: transparent;
}

a:hover, a.current {
	color: #3f6230;
	text-decoration: underline;
}

#video {
	margin-top: 0px;
	margin-right: -80px;
	min-height: 600px;
}


.home {
	overflow: hidden;
	#footer {
		width: 100%;
	  position: fixed;
	  bottom: 0;
	  background: #FFF;
	}
}

.crumb-wrapper {
	width: 100%;
  	background: #fff;
	border-bottom: 4px double #DADADA;
}

.breadcrumbs {
	padding: 15px 0;
}

.breadcrumbs a, .breadcrumbs span {
  padding: 0 5px;
  color: #3F6230;
}

.breadcrumbs .active {
	color: $lightgreen;
  font-family: "kulturista-web", serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}