@import "compass_twitter_bootstrap"; /* Use this to get all of Bootstrap's @mixins and $variables */

html {
  -webkit-font-smoothing: antialiased;
}

html, body { height: 100%; }

#wrapper {
	overflow: hidden;
}

h1,h2,h3,h4,h5,h6, a {
	font-family: "kulturista-web", serif;
}

.main {

}

a:hover, a.current {
	color: #3f6230;
	text-decoration: underline;
}

#video {
	margin-top: 0px;
	margin-right: -80px;
}


.home {
	overflow: hidden;
	#footer {
		width: 100%;
	  position: fixed;
	  bottom: 0;
	  background: #FFF;
	}
}