@import "compass_twitter_bootstrap"; /* Use this to get all of Bootstrap's @mixins and $variables */

$darkgreen: #3f6230;
$lightgreen: #99c745;

html {
  -webkit-font-smoothing: antialiased;
}

html, body { min-height: 100%; }

body {
  background: #F0F0F0;
}

p {
	line-height: 24px;
}

#wrapper {
	overflow: hidden;
  padding-bottom: 100px;
}

body.home #wrapper {
  padding-bottom: 0;
}

h1,h2,h3,h4,h5,h6, a {
	font-family: "kulturista-web", serif;
}

h3 {
  color: #3F6230;
	font-size: 16px;
	font-weight: 700;	
  text-transform: uppercase;
}

.main {
	background-color: #f0f0f0;
}

body.home .main {
	background: transparent;
	padding-bottom: 100px;
}

a {
  color: #3F6230;
	border-bottom: 1px solid #99C745;
	padding-bottom: 1px;
	text-decoration: none;
  font-family: "kulturista-web", serif;
  font-weight: 600;
  font-style: italic;
	&:hover {
		border-bottom: 1px solid #99C745;
		text-decoration: none;
    color: #60884f;
	}
}

ul, ol {
  margin-left: 55px;
}

ul li, ol li {
  line-height: 1.7em;
  color: #404040;
}

#video {
	margin-top: 0px;
/*  margin-right: -80px;*/
	min-height: 600px;
	background: url(/images/banners/home-lg.jpg) no-repeat center center;
	background-size: cover;
}

#video.rnd-1 {
	background: url(/images/banners/home-lg.jpg) no-repeat center center;
}

#video.rnd-2 {
	background: url(/images/banners/home-coffee-lg.jpg) no-repeat center center;
}

#video.rnd-3 {
	background: url(/images/banners/home-cycle-lg.jpg) no-repeat center center;
}

#video.rnd-4 {
	background: url(/images/banners/home-rainbow-lg.jpg) no-repeat center center;
}

#video.rnd-5 {
	background: url(/images/banners/home-wall-lg.jpg) no-repeat center center;
}

#video.rnd-6 {
	// not used atm
	background: url(/images/banners/home-fridge-lg.jpg) no-repeat center center;
}

body.not-found #video {
	background: url(/images/banners/404.jpg) no-repeat center center;
}


.home {
	overflow: hidden;
	#footer {
		width: 100%;
	  position: fixed;
	  bottom: 0;
	  background: #FFF;
	  z-index: 100;
	}
}

.crumb-wrapper {
	width: 100%;
  	background: #fff;
	border-bottom: 6px double #DADADA;
}

.breadcrumbs {
	padding: 15px 0;
}

.breadcrumbs a, .breadcrumbs span {
  margin: 0 5px;
  color: #3F6230;
}

.breadcrumbs .active {
  color: $lightgreen;
  font-family: "kulturista-web", serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

@import "tertiary";
@import "banners";
@import "header";
@import "category";
@import "footer";
@import "visit";
@import "credits";
@import "mq";
