$darkgreen: #3f6230;
$lightgreen: #99c745;

.container {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
}

.container article {
	border-right: 6px double #dadada;
	padding-right: 30px;
}

article,
aside {
	margin-top: 35px;
	margin-bottom: 35px;
}
article h1 {
  color: $darkgreen;
	font-family: "kulturista-web", serif;
	font-weight: 600;
	font-style: normal;
	font-size: 27px;
	background: url('/images/flourish.png') left center no-repeat;
	margin-bottom: 15px;
  margin-left: -37px;
  padding-left: 36px;
}

article > h2 {
	font-family: "kulturista-web", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 15px;
}

article p, article ul {
	margin-bottom: 28px;
}

article img {
	float: left;
	width: 218px;
	height: 166px;
	border: 8px solid rgba(0,0,0,.1);
	margin-bottom: 24px;
	margin-top: 4px;
	margin-left: -70px;
	margin-right: 25px;
	position: relative;
	top: 8px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;	
}

article ul {
  margin-top: -1.5em;
}

aside.span4 {
/*  padding-left: 4px;*/
  width: 270px;
  margin-left: 30px;
}

aside .sidenav {
  margin: 50px 0 54px 0px;
}

aside ul {
  margin: 0 0 54px 16px;
}

aside h3 {
	color: $lightgreen;
	font-family: "kulturista-web", serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
  font-size: 1.75em;
  margin-bottom: 0.5em;
  line-height: 1.1em;
}

aside li {
  font-size: 108%;
  line-height: 20px;
  margin-bottom: 8px;
  list-style: square;
  color: #D5D5D5;
}

aside li span {
  color: #3F6230;
  font-family: "kulturista-web", serif;
  font-weight: 700;
}

aside blockquote {
	border-left: none;
	padding-left: 0;
	color: $darkgreen;
	font-weight: 400;
}
