	<div class="home-banner">
		<h1>Whoa there big thunder!</h1>
		<h1 style='line-height:1.2em; padding:6px 10px;'>You're lost in a scary place. Let's get you back to Greenville.</h1>
		<h1><a href="/">Home</a>, <a href="/work">Work</a> or <a href="/life">Life</a></h1>
	</div>
</div> <!-- end .container -->
</div> <!-- end .main -->

<div id="video"></div>