	<div class="home-banner">
		<h1>You in the wrong place (404)</h1>
		<h2>Discover <a href="/life">life</a> and <a href="work">work</a> in Greenville, SC</h2>
	</div>
</div> <!-- end .container -->
</div> <!-- end .main -->

<div id="video"></div>