<%= erb :'shared/header', :locals => locals %>

  <section class="organization" id="cowork">
    <img src="/images/cowork_logo.png" alt="CoWork Greenville Logo"/>
    <div class="info cf">
      <h3 class="title">CoWork</h3>
      <ul>
        <li class="first"><a href="http://twitter.com/cowork" title="Follow us on Twitter!" title="_blank">@cowork</a></li>
        <li><a href="http://coworkgreenville.com" title="Check out more about CoWork">http://coworkgreenville.com</a></li>
        <li class="last"><a href="mailto:info@coworkgreenville.com" title="Email us (we promise to write back)!">info@coworkgreenville.com</a></li>
      </ul>
      <p>commodo nisl non erat ullamcorper dignissim. Curabitur et augue felis, sed volutpat nunc. Vivamus accumsan ligula ac augue lacinia gravida. Constur adipiscing elit. Sed vel libero ante, et faucibus nunc. Vivamus.</p>
    </div><!-- .info -->

    <ul id="people">
      <li>
        <img class="avatar" alt="Photo of Matthew Smith" />
        <div class="person_info">
          <h5>Matthew Smith <span class="role">/ Designer</span></h5>
          <a href="http://twitter.com/whale" title="Follow Matthew on Twitter" target="_blank">@whale</a>
          <p>Member of CoWork</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Marco Suarez" />
        <div class="person_info">
          <h5>Marco Suarez <span class="role">/ Designer</span></h5>
          <a href="http://twitter.com/marcosuarez" title="Follow Marco on Twitter" target="_blank">@marcosuarez</a>
          <a href="http://marcosuarez.com" target="_blank" title="Visit Marco's website">http://marcosuarez.com</a>
          <p>Member of CoWork</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Andrew Ramos" />
        <div class="person_info">
          <h5>Andrew Ramos <span class="role">/ Designer</span></h5>
          <a href="http://twitter.com/andrewramos" title="Follow Andrew on Twitter" target="_blank">@andrewramos</a>
          <a href="http://andrewramos.com" target="_blank" title="Visit Andrew's website">http://andrewramos.com</a>
          <p>Member of CoWork</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Jeremy Jantz" />
        <div class="person_info">
          <h5>Jeremy Jantz <span class="role">/ Designer</span></h5>
          <a href="http://twitter.com/jeremyjantz" title="Follow Jeremy on Twitter" target="_blank">@jeremyjantz</a>
          <a href="http://headlampcreative.com" target="_blank" title="Visit Jeremy's website">http://headlampcreative.com</a>
          <p>Member of CoWork</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Mason Stewart" />
        <div class="person_info">
          <h5>Mason Stewart <span class="role">/ Developer</span></h5>
          <a href="http://twitter.com/masondesu" title="Follow Mason on Twitter" target="_blank">@masondesu</a>
          <a href="http://masondesu.com" target="_blank" title="Visit Mason's website">http://masondesu.com</a>
          <p>Member of CoWork</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Ronnie Taylor" />
        <div class="person_info">
          <h5>Ronnie Taylor <span class="role">/ Developer</span></h5>
          <a href="http://twitter.com/rontec76" title="Follow Ronny on Twitter" target="_blank">@rontec76</a>
          <a href="http://ronnietaylor.com" target="_blank" title="Visit Ronny's website">http://ronnietaylor.com</a>
          <p>Member of CoWork</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Mark Johnson" />
        <div class="person_info">
          <h5>Mark Johnson <span class="role">/ Developer</span></h5>
          <a href="http://twitter.com/wmdmark" title="Follow Mark on Twitter" target="_blank">@wmdmark</a>
          <a href="http://duointeractive.com" target="_blank" title="Visit Mark's website">http://duointeractive.com</a>
          <p>Member of CoWork</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Alan Rodgers" />
        <div class="person_info">
          <h5>Alan Rodgers <span class="role">/ Developer</span></h5>
          <p>Member of CoWork</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Ryan Wood" />
        <div class="person_info">
          <h5>Ryan Wood <span class="role">/ Developer</span></h5>
          <a href="http://twitter.com/ryanwood" title="Follow Ryan on Twitter" target="_blank">@ryanwood</a>
          <a href="http://sourcescape.com" target="_blank" title="Visit Ryan's website">http://sourcescape.com</a>
          <p>Member of CoWork</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Sean Gaffney" />
        <div class="person_info">
          <h5>Sean Gaffney <span class="role">/ Developer</span></h5>
          <a href="http://twitter.com/seangaffney" title="Follow Sean on Twitter" target="_blank">@seangaffney</a>
          <a href="http://seangaffney.cc" target="_blank" title="Visit Sean's website">http://seangaffney.cc</a>
          <p>Member of CoWork</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Marshall Klickman" />
        <div class="person_info">
          <h5>Marshall Klickman <span class="role">/ Developer</span></h5>
          <a href="http://twitter.com/mklickman" title="Follow Marshall on Twitter" target="_blank">@mklickman</a>
          <p>Member of CoWork</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Chandler Van De Water" />
        <div class="person_info">
          <h5>Chandler Van De Water <span class="role">/ Developer</span></h5>
          <a href="http://twitter.com/chandlervdw" title="Follow Chandler on Twitter" target="_blank">@chandlervdw</a>
          <a href="http://chandlervdw.com" target="_blank" title="Visit Chandler's website">http://chandlervdw.com</a>
          <p>Volunteer</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Paul Johnson" />
        <div class="person_info">
          <h5>Paul Johnson <span class="role">/ Content Developer</span></h5>
          <a href="http://twitter.com/paul_johnson" title="Follow Paul on Twitter" target="_blank">@paul_johnson</a>
          <a href="http://duointeractive.com" target="_blank" title="Visit Paul's website">http://duointeractive.com</a>
          <p>Member of CoWork</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Dodd Caldwell" />
        <div class="person_info">
          <h5>Dodd Caldwell <span class="role">/ Content Developer</span></h5>
          <a href="http://twitter.com/doddcaldwell" title="Follow Dodd on Twitter" target="_blank">@doddcaldwell</a>
          <p>Member of CoWork</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Chris Merritt" />
        <div class="person_info">
          <h5>Chris Merritt <span class="role">/ Content Developer</span></h5>
          <a href="http://twitter.com/chrismerritt" title="Follow Chris on Twitter" target="_blank">@chrismerritt</a>
          <a href="http://chrismerritt.tumblr.com" target="_blank" title="Visit Chris's website">http://chrismerritt.tumblr.com</a>
          <p>Volunteer</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Peter Barth" />
        <div class="person_info">
          <h5>Peter Barth <span class="role">/ Content Developer</span></h5>
          <a href="http://twitter.com/peterbarth" title="Follow Peter on Twitter" target="_blank">@peterbarth</a>
          <a href="http://thenextbig.co/greenville.html" target="_blank" title="Visit Peter's website">http://thenextbig.co/greenville.html.com</a>
          <p>Volunteer</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Katie Stewart" />
        <div class="person_info">
          <h5>Katie Stewart <span class="role">/ Content Developer</span></h5>
          <a href="http://twitter.com/chaithoughts" title="Follow Katie on Twitter" target="_blank">@chaithoughts</a>
          <a href="http://about.me/katiestewart" target="_blank" title="Visit Katie's website">http://about.me/katiestewart</a>
          <p>Volunteer</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Elizabeth Ramos" />
        <div class="person_info">
          <h5>Elizabeth Ramos <span class="role">/ Content Developer</span></h5>
          <a href="http://twitter.com/elizabethramos" title="Follow Elizabeth on Twitter" target="_blank">@elizabethramos</a>
          <a href="http://elizabethramos.com/about" target="_blank" title="Visit Elizabeth's website">http://elizabethramos.com/about</a>
          <p>Volunteer</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Erin Godbey" />
        <div class="person_info">
          <h5>Erin Godbey <span class="role">/ Content Developer</span></h5>
          <a href="http://twitter.com/eringodbey" title="Follow Erin on Twitter" target="_blank">@eringodbey</a>
          <a href="http://indiecraftparade.com" target="_blank" title="Visit Erin's website">http://indiecraftparade.com</a>
          <p>Volunteer</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Jamin Jantz" />
        <div class="person_info">
          <h5>Jamin Jantz <span class="role">/ Project Manager</span></h5>
          <a href="http://twitter.com/jaminjantz" title="Follow Jamin on Twitter" target="_blank">@jaminjantz</a>
          <p>Member of CoWork</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Matthew Cook" />
        <div class="person_info">
          <h5>Matthew Cook <span class="role">/ Project Manager</span></h5>
          <a href="http://twitter.com/mattecook" title="Follow Matt on Twitter" target="_blank">@mattecook</a>
          <p>Member of CoWork</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of TJ &amp; Michelle Getz" />
        <div class="person_info">
          <h5>TJ &amp; Michelle Getz <span class="role">/ Photographers</span></h5>
          <a href="http://twitter.com/getzcreative" title="Follow Getz Creative on Twitter" target="_blank">@getzcreative</a>
          <a href="http://getzcreative.com" target="_blank" title="Visit TJ &amp; Michelle's website">http://getzcreative.com</a>
          <p>Volunteers</p>
        </div><!-- .info -->
      </li>
      <li>
        <img class="avatar" alt="Photo of Bryan Martin" />
        <div class="person_info">
          <h5>Bryan Martin <span class="role">/ Photographer</span></h5>
          <a href="http://twitter.com/bryanrmartin" title="Follow Bryan on Twitter" target="_blank">@bryanrmartin</a>
          <p>Member of CoWork</p>
        </div><!-- .info -->
      </li>
    </ul><!-- #people -->
  </section><!-- .organization#cowork -->
  
  <section class="organization" id="getz_creative">
    <img src="#" alt="Getz Creative Logo"/>
    <div class="person_info">
      <h3 class="title">Getz Creative</h3>
      <ul>
        <li><a href="http://twitter.com/getzcreative" title="Follow us on Twitter!" title="_blank">@getzcreative</a></li>
        <li><a href="http://getzcreative.com" title="Check out more about Getz Creative">http://getzcreative.com</a></li>
        <li class="last"><a href="mailto:shootme@getzcreative.com" title="Email us (we promise to write back)!">shootme@getzcreative.com</a></li>
      </ul>
      <p>commodo nisl non erat ullamcorper dignissim. Curabitur et augue felis, sed volutpat nunc. Vivamus accumsan ligula ac augue lacinia gravida. Constur adipiscing elit. Sed vel libero ante, et faucibus nunc. Vivamus.</p>
    </div><!-- .info -->
  </section><!-- .organization#getz_creative -->

  <section class="organization" id="next_big_thing">  
    <img src="#" alt="The Next Big Thing Logo"/>
    <div class="info cf">
      <h3 class="title">The Next Big Thing</h3>
      <ul>
        <li><a href="http://twitter.com/thenextbigco" title="Follow us on Twitter!" title="_blank">@thenextbigco</a></li>
        <li><a href="http://thenextbig.co/greenville.html" title="Check out more about The Next Big Thing">http://thenextbig.co/greenville.html</a></li>
        <li class="last"><a href="mailto:info@thenextbig.co?Subject=General Inquiry" title="Email us">info@thenextbig.co</a></li>
      </ul>
      <p>commodo nisl non erat ullamcorper dignissim. Curabitur et augue felis, sed volutpat nunc. Vivamus accumsan ligula ac augue lacinia gravida. Constur adipiscing elit. Sed vel libero ante, et faucibus nunc. Vivamus.</p>
    </div><!-- .info -->
  </section><!-- .organization#next_big_thing -->
  
  <section class="organization" id="greenville_chamber">  
    <img src="#" alt="Greenville Chamber of Commerce Logo"/>
    <div class="info cf">
      <h3 class="title">Greenville Chamber of Commerce</h3>
      <ul>
        <li><a href="http://twitter.com/gvillechamber" title="Follow us on Twitter!" title="_blank">@gvillechamber</a></li>
        <li class="last"><a href="http://greenvillechamber.org" title="Check out more about the Greenville Chamber of Commerce">http://greenvillechamber.org</a></li>
      </ul>
      <p>commodo nisl non erat ullamcorper dignissim. Curabitur et augue felis, sed volutpat nunc. Vivamus accumsan ligula ac augue lacinia gravida. Constur adipiscing elit. Sed vel libero ante, et faucibus nunc. Vivamus.</p>
    </div><!-- .info -->
  </section><!-- .organization#next_big_thing -->
  
  <section class="organization" id="indiecraft">
    <img src="#" alt="Indie Craft Parade Logo"/>
    <div class="info cf">
      <h3 class="title">Indie Craft Parade</h3>
      <ul>
        <li><a href="http://twitter.com/craftparade" title="Follow us on Twitter!" title="_blank">@craftparade</a></li>
        <li><a href="http://indiecraftparade.com" title="Check out more about the Indie Craft Parade">http://indiecraftparade.com</a></li>
        <li class="last"><a href="mailto:info@indiecraftparade.com" title="Email us (we promise to write back)!">info@indiecraftparade.com</a></li>
      </ul>
      <p>commodo nisl non erat ullamcorper dignissim. Curabitur et augue felis, sed volutpat nunc. Vivamus accumsan ligula ac augue lacinia gravida. Constur adipiscing elit. Sed vel libero ante, et faucibus nunc. Vivamus.</p>
    </div><!-- .info -->
  </section><!-- .organization#getz_creative -->
  
<%= erb :'shared/footer', :locals => locals %>