	<div  class="container home-banner">
		<h1>The perfect blend of big city excitement and small town simplicity. Welcome home.</h1>
		<h2>Discover <a href="/life">life</a> and <a href="work">work</a> in Greenville, SC</h2>
	</div>
</div> <!-- end .container -->
<div id="video">
  <iframe src="http://player.vimeo.com/video/34745370?title=0&amp;byline=0&amp;portrait=0&amp;loop=1&amp;autoplay=1" width="1600" height="900" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>