<%= erb :'shared/header' %>

<div id="categories" class="row">
			
	<div class="span5">
		<div class="content">
			<h2><a href="#" title="Easy and Affordable">Easy &amp; Affordable</a></h2>
			<p>Vestibulum tincidunt sapien ac felis ornare gravida. Vivamus euismod enim non.</p>
			<a href="#" title="Easy and Affordable"><img src="/images/categories/leaf.png" width="250" height="214" /></a>
		</div>
	</div>
	
	<div class="span6">
		<div class="content">
			<h2><a href="#" title="Life is Good">Life Is Good</a></h2>
			<p>Tincidunt sapien ac felis ornare gravida. Euismod enim non orci lacinia sit.</p>
			<a href="#" title="Life is Good"><img src="/images/categories/weather.png" width="250" height="214" /></a>
		</div><!-- /.content -->
	</div>
	
	<div class="span5">
		<div class="content">
			<h2><a href="#" title="Creative Culture">Creative Culture</a></h2>
			<p>Loremsapien ac felis ornare gravida. Vivamus euismod enim non orci lacinia.</p>
			<a href="#" title="Creative Culture"><img src="/images/categories/usb.png" width="250" height="214" /></a>
		</div>
	</div>

</div><!-- /#categories -->

<%= erb :'shared/footer' %>
