<%= erb :'shared/header', :locals => locals %>

    <div class="container">
    	<article class="row span14 offset1">
    		<h2>Check out the city, and let us give you some recommendations. Greenville is brimming with unique restaurants, outdoor settings, and entertainment venues. We won't lead you astray, promise.</h2>
        
        <p class="pfirst">Whether you're in the mood for an evening out or have time for a weekend adventure, you'll find lots to do here. If you're here on business, enjoying a romantic getaway, or visiting with kids, Greenville is hospitable and fun.</p>
        
        <p><img src="/images/Plan-a-Visit.jpg"/></p>
        <h3>An Evening in Greenville, SC</h3>
        <p>Try staying at the Hyatt or Westin Poinsett on Main Street downtown. Grab an appetizer and a glass of wine at the <a href="http://www.thegreenroomupstate.com/">Green Room</a> or swing into <a href="http://trappedoor.com">Trappe Door</a> for a pint of fine Belgian beer and cuisine. A great finale to your evening, take the free trolley down to <a href="http://thelazygoat.typepad.com/">The Lazy Goat</a>, where you can nibble on a wide list of Mediterranean appetizers, expert wine pairings, and gelato if you've got room for dessert. Make sure to take advantage of their outdoor seating overlooking the Reedy River.  Other excellent options for a relaxed evening might include gourmet Southern cuisine at <a href="http://www.sobys.com">Soby's</a> or <a href="http://www.mavericksouthernkitchens.com/highcotton/greenville/">High Cotton</a>. If you're up for some entertainment hit up <a href="http://brownstreetclub.com/defaultfrms.htm">Brown Street Jazz Club</a> or the <a href="http://www.peacecenter.org/">Peace Center Amphitheater</a> for a Broadway show.</p>
    	</article>
    </div>
  
  </div> <!-- /.container.main -->
  
	<div class="visitcon">
		<div class="top"></div>
		<div class="container">
			<article class="span14 offset1">
				<h2>Curious? Spend a Weekend.</h2>
				<p>Whether you're into city sights, outdoor sports, or the arts, you'll find more than enough to do in Greenville.</p>

				<div class="visit visit-1">
				<p><img src="/images/swamprabbit1.jpg" style="float: right;"></p>
				<h3>Friday - The Active Life</h3>
				<p>If you're looking for some activities to fit in a day around town, take a look at the following recommendations.</p>
				<p><a href="http://greenvillerec.com/parks/swamp-rabbit/">The Swamp Rabbit Trail</a> offers 13.55 miles of walking or biking through Greenville. Bikes can be rented for a reasonable price from <a href="http://www.reedyrides.com/">Reedy Rides</a>. If you ride the trail from Greenville out to Traveler's Rest you <a href="#" class="more">Continue Reading&hellip;</a> could stop in at Leopard Forest for some coffee from a locally owned roaster. <a href="http://www.chicoraalley.com/">Chicora Alley</a> in downtown Greenville has an eclectic menu and quality brews. Another worthwhile happy hour is at Takosushi on Main Street.</p>	
			</div><!-- /.visit-1 -->
				
			<div class="visit visit-2">
				<p><img src="/images/childrens-museum.jpg" style="float: right;"></p>
				<h3>Saturday - A Family Affair</h3>
				<p>For a day with friends or family try out the <a href="http://www.greenvillezoo.com/">Greenville Zoo</a> for some fun with the wildlife. Cleveland Park is right next door and is perfect for some ultimate frisbee or a lovely picnic. Next, head over to Horizon Records to peruse their collection of vinyl albums. If you have a chance, wrap up the day with a visit to the <a href="http://www.tcmupstate.org/">Children's Museum</a>. For a relaxing evening, take a walk down to Greenville's own Spill the Beans on South Main for some ice cream and coffee; then walk across the <a href="http://www.fallspark.com/">Falls Park bridge</a>.</p>
			</div><!-- /.visit-2 -->
  				
			<div class="visit visit-3">
				<p><img src="/images/tupelohoney.jpg" style="float: right;"></p>
				<h3>Sunday - Visit the Neighbors</h3>
				<p>Greenville is at the center of some of the best destination activities in the Southeast. With the Appalachians, Charlotte, Atlanta, and Charleston all within a three hour drive or less, you have more activities and destinations available than you could possibly take advantage of during a single visit.</p>

				<p>One great day trip would be a short drive up to Flat Rock, North Carolina. Start out your day with a Greenville breakfast at The Bohemian on Stone Avenue. If you drive up to Flat Rock (45 minutes from Greenville) by lunch, eat at the Flat Rock Bakery, which features local ingredients and handmade pizza. Make sure to eat out back under their famous magnolia tree. After the bakery, drop by the Carl Sandburg Home. Don't miss seeing the goats! If you still have time and feel adventurous, take the mile hike up to Glassy Mountain before heading back into town.</p>
				<p>With so many day trips around Greenville, you should consider a few more options. Asheville, NC is only an hour and twenty-five minutes away and offers an eclectic mountain community as well as some amazing outdoor sights. Near Asheville you can hike Caesar's Head, take a trek into Pisgah National Forest, visit <a hre="http://www.tupelohoneycafe.com/">Tupelo Honey</a> for breakfast or <a href="http://www.groveparkinn.com/Leisure/">Grove Park Inn</a> for lunch, try some of the many local beers, or visit the <a href="http://www.biltmore.com/">Biltmore House</a>. Local music is also a good idea in Asheville with venues such as the <a href="http://theorangepeel.net/">Orange Peel</a> or <a href="http://jackofthewood.com/">Jack of the Wood</a>, located below <a href="http://laughingseed.jackofthewood.com/">The Laughing Seed</a>, a global fusion vegetarian restaurant.</p>

			</div><!-- /.visit-3 -->
  				
			</article>
		</div>
		<div class="bottom"></div>
	</div>
  
  <div class="main">
    <div class="container">
    	<article class="row span14 offset1">
    		<h3>More Awesome Stuff</h3>
        <p>Even after a weekend of recreation, there's still more fun to be had in Greenville. Check out these further options for enjoying the city.</p>

    		<ul class="row">
    			<li class="span3"><h4>Restaurants</h4>
    				<ul>
    					<li><a href="http://www.barleysgville.com/">Barley's Taproom</a></li>
    					<li><a href="http://libertytaproom.com">Liberty Taproom</a></li>
    					<li><a href="http://www.facebook.com/CoffeeUnderground">Coffee Underground</a></li>
    					<li><a href="http://www.carolinaalehouse.com/">Carolina Ale House</a></li>
    					<li><a href="http://www.wildwingcafe.com/index.php">Wild Wing Cafe</a></li>
    					<li><a href="http://www.mellowmushroom.com/">Mellow Mushroom</a></li>
    					<li><a href="http://www.devereauxsdining.com/">Devereaux's</a></li>
    				</ul>
    			</li>
			
    			<li class="span3"><h4>Activities</h4>
    				<ul>
    					<li>Hiking Paris Mountain</li>
    					<li><a href="http://www.bmwusfactory.com/zentrum">Touring the BMW Zentrum</a></li>
    					<li>Fluor Field</li>
    					<li>Shakespeare in the Park</li>
    					<li><a href="http://www.artcrossing.org">Art Crossing at Riverplace</a></li>
    					<li>Mice on Main</li>
    				</ul>
    			</li>
			
    			<li class="span3"><h4>Travel &amp; Lodging</h4>
    				<ul>
    					<li><a href="http://www.gspairport.com/">Greenville Spartanburg International Airport</a></li>
    					<li><a href="http://www.charlotteairport.com">Charlotte Douglas Airport</a></li>
    					<li><a href="http://www.marriottcourtyardgreenville.com/">Courtyard Marriott</a></li>
    					<li><a href="http://www.starwoodhotels.com/westin/property/overview/index.html?propertyID=1255"> WestinPoinsett</a></li>
    					<li><a href="http://www.hamptoninnandsuitesgreenville.com/">Hampton Inn and Suites</a></li>
    					<li><a href="http://www.greenville.hyatt.com/hyatt/hotels/index.jsp?null">Hyatt Regency</a></li>
    				</ul>
    			</li>
			
    		</ul>
  		
    	</article>
    </div>
  </div>
  
<%= erb :'shared/footer', :locals => locals %>